@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* --bgc-clr: #1f0761; */
  --bgc-clr: #130731;
  --bgc-clr-home: #130731;
  --txt-clr: #c7c4d1;
  --big-screen: 900px;
  --btn-work-clr: #291361;
  --text-accent-clr: #cc1717;
  --nav-bg: rgba(255, 255, 255, 0.2);
  --hover-btn-bg: #462696;
  --transition-1-clr: #1b084e;
  --transition-2-clr: #16083d;
  --transition-3-clr: #0f0629;
  --fs-small: 0.9rem;
  --fs-medium: 1.2rem;
  --fs-high: 2rem;
  --fs-high-1: 3rem;
}
body {
  font-family: "Sora", sans-serif;
}
body.dark {
  --bgc-clr: #130731;
  --bgc-clr-home: #130731;
  --txt-clr: #c7c4d1;
  --big-screen: 900px;
  --btn-work-clr: #291361;
  --text-accent-clr: #cc1717;
  --nav-bg: rgba(255, 255, 255, 0.2);
  --hover-btn-bg: #462696;
  --transition-1-clr: #1b084e;
  --transition-2-clr: #16083d;
  --transition-3-clr: #0f0629;
  --fs-small: 0.9rem;
  --fs-medium: 1.2rem;
  --fs-high: 2rem;
  --fs-high-1: 3rem;
}
body.light {
  --bgc-clr: white;
  --bgc-clr-home: white;
  --txt-clr: black;
}
button {
  font-family: inherit;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
button {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.circle {
  position: absolute;
  bottom: -100px;
  right: -100px;
  height: 200px;
  width: 200px;
  animation: circleAnimate 2s ease-in-out infinite alternate;
}
.top-left-img {
  background-color: transparent;
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.1;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}
/* typografy */
.header {
  font-size: var(--fs-high);
  line-height: 1.5;
  text-align: center;
}
.text-accent {
  color: var(--text-accent-clr);
}
.desc {
  max-width: 50ch;
  font-size: var(--fs-small);
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
}

@media screen and (min-width: 1000px) {
  .header-title {
    text-align: left;
  }
  .desc {
    font-size: var(--fs-medium);
    text-align: left;
  }
  .header {
    font-size: var(--fs-high-1);
  }
}
/* end of typografy */
/* animation stars */
.stars {
  animation: apear infinite alternate-reverse ease-in-out 1.5s;
}

/* global classes */
.logo {
  width: 100px;
}
.page {
  background-color: var(--bgc-clr);
  min-height: 100vh;
  color: var(--txt-clr);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav {
  font-size: 25px;
  color: var(--txt-clr);
}
.nav a {
  color: var(--txt-clr);
}
.social-link {
  color: var(--txt-clr);
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}
.social-link:hover {
  color: var(--text-accent-clr);
}
.socials-container {
  gap: 1rem;
  padding-right: 2rem;
}
.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 2;
}
#tsparticles {
  height: 100%;
}
.h-full {
  height: max(100vh, 800px);
}

.bolt-img {
  position: absolute;
  bottom: -50px;
  width: 200px;
  left: 0;
  transform: translateX(-60%);

  filter: hue-rotate(320deg);
  animation: circleAnimate 1.4s ease-in-out infinite alternate;
}
.swiper-pagination-bullets {
  /* background-color: red; */
}
.swiper-pagination-bullets span {
  background-color: red;
}
/* end of global classes */

@media screen and (min-width: 700px) {
  .top-left-img {
    width: 300px;
    height: 300px;
  }
  /* .header-title {
    font-size: 2.5rem;
  }
  .main-desc {
    font-size: 1.2rem;
  } */
  /* body .home-btn .project-btn {
    width: 250px;
  } */

  .circle {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1500px) {
  /* .header-title {
    font-size: 3.5rem;
  }
  .main-desc {
    font-size: 1.5rem;
    text-align: left;
  } */
  .top-left-img {
    width: 400px;
    height: 400px;
  }
}
/* animation */
@keyframes apear {
  0% {
    transform: scale(0) translateX(0);
  }
  100% {
    transform: scale(1);
    color: yellow;
  }
}
@keyframes circleAnimate {
  0% {
    filter: drop-shadow(0px 0px 0px var(--text-accent-clr)) opacity(0.3);
  }
  100% {
    filter: drop-shadow(26px 26px 40px var(--text-accent-clr)) opacity(0.6);
  }
}
/* end of animation */
