@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgc-clr: #1f0761;
  --txt-clr: #fff;
  --big-screen: 900px;
  --nav-bg: rgba(255, 255, 255, 0.2);
}
body {
  font-family: "Sora", sans-serif;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
button {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.page {
  background-color: var(--bgc-clr);
  min-height: 100vh;
  color: var(--txt-clr);
  position: relative;
  z-index: 1;
}
.full-page {
  min-height: 100vh;
}
.top-left-img {
  position: absolute;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -20%);
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
  z-index: -1;
}
/* animation stars */
.stars {
  animation: apear infinite alternate-reverse ease-in-out 1.5s;
}
@keyframes apear {
  0% {
    transform: scale(0) translateX(0);
  }
  100% {
    transform: scale(1);
    color: yellow;
  }
}
/* global classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  /* z-index: 2; */
  font-size: 25px;
  color: var(--txt-clr);
}
.nav a {
  color: var(--txt-clr);
}
@media screen and (min-width: 900px) {
  .top-left-img {
    width: 600px;
  }
}

/* motion */
.motion-1 {
  position: fixed;

  background-color: red;

  top: 0;
  bottom: 0;

  right: 100%;
}
